<ion-content>
  <!-- <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->
    <div #frame style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
      <iframe src="https://saffrony-524ca.firebaseapp.com/" class="iframe" scrolling="yes" ></iframe>
    </div>
</ion-content>
